@import "tailwindcss";


:root {

  --background: transparent;

  --foreground: white;

}



html {

  background: transparent;

}



body {

  margin:0;

  padding:0;

  min-height:100vh;

  color:white;

  background:

  linear-gradient(
    rgba(0,0,0,0.78),
    rgba(0,0,0,0.88)
  ),

  url("/images/site-bg.jpg");

  background-size:cover;

  background-position:center;

  background-attachment:fixed;

}



.bg-neutral-950 {

  background-color: transparent !important;

}